<%# Write your code here! %>
<h1>Hi <%= params[:user_name] %>! What, is your quest?!</h1>

<form action="/quest" method="POST">
  <label for="quest">Quest:</label>
 
  <p><input type="text" quest="quest" id="quest" /></p>
 
  <input type="submit" value="Submit"/>
</form>