<%# Write your code here! %>
<h1>Aye, tis' a difficult quest! Be warry of traps. 
What, is the air-speed velocity of an unladen swalow?!</h1>

<form action="/swalow" method="POST">
  <label for="swalow">Swalow:</label>
 
  <p><input type="text" swalow="swalow" id="swalow" /></p>
 
  <input type="submit" value="Submit"/>
</form>